<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-12">
        <p><a href="https://www.linkedin.com/in/nodirbekergashev/" target="_blank">LinkedIn</a> | <a
            href="https://github.com/nodirshox" target="_blank">GitHub</a> | <a href="https://t.me/nodir_adventure"
            target="_blank">Telegram</a>
        </p>
        <p>{{-
          site.description | escape -}}</p>
      </div>
    </div>
  </div>

</footer>